.github/**
.pytest_cache/**
.vscode/**
.vscode-test/**
images/**
node_modules/**
out/**
python_modules/**
src/**
test/**
**/*.map
.gitignore
.python-version
requirements.txt
requirements_dev.txt
tsconfig.json
vsc-extension-quickstart.md
webpack.config.ts
